@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;700&display=swap&family=Noto+Sans:wght@400;700&display=swap');
$bg-c-blue: rgb(210, 233, 236);
$bg-c-yellow: rgb(255, 255, 241);
$bg-c-dark-yellow: rgb(238, 238, 206);
$border-c-blue: rgb(122, 156, 179);
$border-c-dark-yellow: rgb(141, 141, 120);
$input-border-c-blue: rgb(139, 180, 204);
%center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
%button_theme_green {
    border-color: rgb(55, 95, 72);
    background-color: rgb(96, 146, 123);
    font-family: 'Noto Sans';
    &:hover {
        background-color: rgb(79, 122, 98);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        background-color: rgb(79, 122, 98);
    }
}
%df_dc_aic_jcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
%df_dr_aic_jcc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
%df_dr_aic_jcsb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

html, body {
    font-size: 15px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
}
.mt-neg {
    margin-top: -4rem !important;
}
.capitalize:first-letter {
    text-transform:capitalize;
}
.app {
    @extend %center;
    @extend %df_dc_aic_jcc;
    // overflow-y: auto;
    height: 100%;
    background-color: $bg-c-yellow;
}


/* welcome.js */
.welcome {
    .welcome-content {
        @extend %center;
        @extend %df_dc_aic_jcc;
        right: 60%;
        
        h1 {
            margin-bottom: 50px;
        }
        .svg_animation {
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
        .playgame_button {
            @extend %button_theme_green;
            border-radius: 10px;
            font-size: 18px;
            padding: 6px 30px;
            
        }
    }

    .welcome-form {
        @extend %center;
        @extend %df_dc_aic_jcc;
        left: 40%;
        background-color: $bg-c-blue;
        border-left: 3px solid $border-c-blue;
        
        .github_logo {
            position: fixed;
            top: 10px;
            right: 10px;
            &:hover {
                cursor: pointer;
                opacity: 70%;
            }
        }
    
        /* dictionary.js */
        .dictionary {
            @extend %df_dc_aic_jcc;
            padding: 0 5px;
            width: 95%;
    
            p {
                font-size: 14px;
                margin-bottom: 2px;
                text-align: left;
            }
            h2 {
                font-weight: 700;
            }
            h5 {
                font-weight: 300;
            }
            ul {
                li {
                    margin-bottom: 1px;
                }
                p {
                    margin-bottom: 0;
                }
            }
    
            .popover_dictionary {
                width: 102%;
                position: relative;
                img {
                    cursor: pointer;
                    padding: none;
                    width: 15px;
                }
            }
    
            .dictionary_light {
                font-weight: 500;
                color: #70757a;
            }
    
            .dictionary_heavy {
                font-size: 16px;
                font-weight: 700;
                &.word {
                    font-size: 24px;
                }
            }
    
            .synonyms {
                color: rgb(56, 185, 114);
                span {
                    display: inline-block;
                    color: rgb(0, 0, 0);
                    margin-right: 4px;
                    border: solid 1px rgb(91, 112, 104);
                    border-radius: 10px;
                    padding: 1px 5px 2px 8px;
                    margin-top: 5px;
        
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}


/* appHeader.js */
.app_header {
    @extend %df_dr_aic_jcsb;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    font-size: 14pt;
    font-family: 'Noto Sans';
    height: 60px;
    background-color: $bg-c-blue;
    border-bottom: 2px solid $border-c-blue;

    a {
        color: rgb(88, 88, 88);
        font-weight: 400;
        text-decoration: none;
        margin-right: 50px;
    
        &:hover {
            color: rgb(0, 0, 0);
            font-weight: 700;
            text-decoration: none;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            color: rgb(0, 0, 0);
            font-weight: 700;
        }
        &:first-child {
            margin-left: 35px;
        }
    }

    img {
        height: 50px;
        padding: 0 !important;
    }
}


/* categories.js */
.cat_cards {
    h3 {
        margin-bottom: 50px;
    }

    .card { 
        height: 350px;
        span {
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 24px;
        }
        img {
            width: 350px;
            height: 250px;
            object-fit: cover;
        }
    }

    .row .css-cvvw2d:first-of-type {
        margin-right: 20px;
        
    }
    .row .css-cvvw2d .card {
        margin-right: 0 !important;
    }
}


/* cardTable.js */
.cards {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    top: 50px;

    .card_image {
        width: 350px;
        height: 280px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    h3 {
        margin-bottom: 15px;
        span {
            font-weight: 800;
        }
    }
    p {
        font-weight: 700;
    }
}
.card {
    height: 420px;
    max-width: 390px;
    margin-right: 20px;

    p:last-of-type {
        margin-bottom: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }
}
.choose_card {
    height: 300px;
    img {
        height: 260px !important;
        margin-bottom: 0 !important;
    }
}
/* cards header */
.cards_header {
    position: relative;
    width: 100%;

    .progress_counter {
        background-color: $bg-c-dark-yellow;
        border: 1px solid $border-c-dark-yellow;
        p {
            font-weight: 700;
            margin-bottom: 0;
        }
    }
}
/* result screen */
.result_screen {
    @extend %df_dc_aic_jcc;
    h2 {
        margin-bottom: 20px;
    }
    .result_screen_buttons {
        .back_button {
            margin-right: 20px !important;
        }
    }
}


/* cardCollection.js */
.card_collection {
    @extend %df_dc_aic_jcc;
    top: 100px;
    background-color: $bg-c-yellow;
    position: absolute;
    padding: 0 50px;
    min-width: 100%;

    h2 {
        margin-bottom: 30px;
    }
    .card_collection_error {
        width: 15%;
    }
    .card_collection_item {
        margin-bottom: 20px;
        width: 100%;

        .category_title {
            @extend %df_dr_aic_jcsb;
            padding: 10px 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $bg-c-dark-yellow;
            border: 1px solid $border-c-dark-yellow;
            border-radius: 15px;
            cursor: pointer;
            p {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 0;
            }
            img {
                width: 25px;
            }
        }
        .card {
            height: 350px;
            max-width: 290px;
            p {
                font-weight: 700;
            }
            img {
                width: 250px;
                height: 200px;
                object-fit: cover;
                margin-bottom: 10px;
            }
            &:nth-child(5n+5) {
                margin-right: 0;
            }
        }
    }
}


/* inputs*/
.seacrh_form {
    position: relative;
}
.seacrh_input {
    font-family: 'Open Sans';
    padding: 10px 15px;
    width: 250px;
    font-size: 16px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 3px;
    &:hover {
        border: 1px solid rgb(117, 126, 143);
    }
    &:focus {
        outline: none;
        border-color: $input-border-c-blue;
        box-shadow: inset 0 0 0 1px $input-border-c-blue, 0px 0px 0 1px $input-border-c-blue;
    }
}
.regex_overlay {
    @extend %df_dc_aic_jcc;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 999;
    p {
        text-align: center !important;
        border: 1px solid rgb(138, 138, 138);
        border-radius: 4px;
        background-color: white;
        padding: 5px 10px;
        width: 80%;
        margin-bottom: 0 !important;
    }
}


/* buttons */
.back_button {
    @extend %button_theme_green;
}
.continue_button {
    @extend %button_theme_green;
    padding: 7.5px 7.5px;
}
.scroll_top_button {
    position: fixed; 
    right: 50px;
    bottom: 100px;
    height: 50px;
    width: 50px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeInScroll 1.3s;
    transition: opacity 1s;
    opacity: 0.5;

    &:hover{
        opacity: 1;
    }
    @keyframes fadeInScroll {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
}
.input_clear_button {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    line-height: 45px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(156, 156, 156);
}


/* errors */
.error {
    @extend %center;
    h1 {
        font-weight: 700;
    }
    a {
        text-decoration: none;
        font-size: 30px;
    }
    p {
        font-size: 30px;
        margin-bottom: 0;
    }
}
.input_error {
    text-align: center !important;
    width: 100%;
    font-size: 16px !important;
    font-weight: 700;
    padding: 10px 0;
    background: rgb(204, 66, 66);
    border-radius: 5px;
    margin-bottom: 0 !important;
}


/* media */
@media (min-height: 850px) {
    .cards {
        margin-top: -4rem !important;
    }
    .cat_cards {
        margin-top: -4rem !important;
    }
}

@media (max-width: 1612px) {
    .card_list {
        .card {
            &:nth-child(5n+5) {
                margin-right: 20px;
            }
            &:nth-child(4n+4) {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 1500px) {
    .card_collection {
        .card_collection_error {
            width: 20%;
        }
    }
}
@media (max-width: 1303px) {
    .card_list {
        .card {
            &:nth-child(4n+4) {
                margin-right: 20px;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 1300px) {
    .welcome {
        .welcome-content {
            h1 {
                font-size: 25px;
            }
        }
    }
    
    .cards {
        max-width: 900px;
        .card_image {
            width: 250px;
        }
    }
    .card {
        max-width: 290px;
    }

    .cat_cards {
        .card {
            img {
                width: 250px;
            }
        }
    }
}
@media (max-width: 1150px) {
    .card_collection {
        .card_collection_error {
            width: 30%;
        }
    }
}
@media (max-width: 993px) {
    .card_list {
        .card {
            &:nth-child(3n+3) {
                margin-right: 20px;
            }
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 820px) {
    .card_collection {
        .card_collection_error {
            width: 40%;
        }
    }
}
@media (max-width: 684px) {
    .card_list {
        .card {
            &:nth-child(2n+2) {
                margin-right: 20px;
            }
            &:nth-child(1n+1) {
                margin-right: 20;
            }
        }
    }
}