@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;700&display=swap&family=Noto+Sans:wght@400;700&display=swap');
%center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

html {
    font-size: 15px;
}

#root {
    margin: 0 auto;    
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    height:100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}
.mt-neg {
    margin-top: -4rem !important;
}
.capitalize:first-letter {
    text-transform:capitalize;
}
.app {
    @extend %center;
}

/* welcome.js */
.welcome {
    .welcome-content {
        @extend %center;
        right: 40%;
        
        h1 {
            margin-bottom: 50px;
        }
        .svg_animation {
            width: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
    }
}
.welcome-form {
    @extend %center;
    left: 60%;
    background: rgb(210, 233, 236);
    border-left: 3px solid rgb(122, 156, 179);
    h5 {
        margin-bottom: 0;
    }
    .github_logo {
        position: fixed;
        top: 10px;
        right: 10px;
        &:hover {
            cursor: pointer;
            opacity: 70%;
        }
    }
    .playgame_button {
        margin-left: 10px;
        
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    /* dictionary.js */
    .dictionary {
        border-bottom: solid 2px rgb(56, 103, 134);
        margin-bottom: 42.5px;
        padding: 20px 5px;
        width: 95%;

        p {
            font-size: 14px;
            margin-bottom: 2px;
            text-align: left;
        }
        h4 {
            font-weight: 700;
        }
        h5 {
            font-weight: 300;
        }

        .checkword_button {
            height: 43px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .dictionary_light {
            font-weight: 500;
            color: #70757a;
        }

        .dictionary_heavy {
            font-size: 16px;
            font-weight: 700;
            &.word {
                font-size: 24px;
            }
        }

        .synonyms {
            color: rgb(56, 185, 114);
            span {
                display: inline-block;
                color: rgb(0, 0, 0);
                margin-right: 4px;
                border: solid 1px rgb(91, 112, 104);
                border-radius: 10px;
                padding: 1px 5px 2px 8px;
                margin-top: 5px;
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .dictionary_error {
            text-align: center;
            width: 100%;
            font-size: 16px;
            font-weight: 700;
            padding: 10px 0;
            background: rgb(204, 66, 66);
            border-radius: 5px;
        }
    }
}


/* app-header.js */
.app-header {
    position: absolute;
    top:0;
    width: 100%;
    background: rgb(210, 233, 236);
    font-size: 14pt;
    font-family: 'Noto Sans';
    height: 60px;
    border-bottom: 2px solid rgb(122, 156, 179);

    a {
        color: rgb(88, 88, 88);
        font-weight: 400;
        text-decoration: none;
        margin-right: 50px;
    
        &:hover {
            color: rgb(0, 0, 0);
            font-weight: 700;
            text-decoration: none;
        }
        &:focus {
            outline: none;
            box-shadow: none;
            color: rgb(0, 0, 0);
            font-weight: 700;
        }
        &:first-child {
            margin-left: 35px;
        }
    }

    img {
        height: 50px;
        padding: 0 !important;
    }
}


/* categories.js */
.cat_cards {
    h3 {
        margin-bottom: 50px;
    }

    .card { 
        height: 350px;
        span {
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 24px;
        }
        img {
            width: 350px;
            height: 250px;
            object-fit: cover;
        }
    }

    .row .css-cvvw2d:first-of-type {
        margin-right: 20px;
        
    }
    .row .css-cvvw2d .card {
        margin-right: 0 !important;
    }
}


/* card-game.js */
.cards {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;

    .card_image {
        width: 350px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 10px;
    }
    h3 {
        margin-bottom: 15px;
        span {
            font-weight: 800;
        }
    }
    p {
        font-weight: 700;
    }
}
.card {
    height: 420px;
    max-width: 390px;
    margin-right: 20px;

    &:last-of-type {
        margin-right: 0;
    }
}
.choose_card {
    height: 300px;
}
/* cards header */
.cards_header {
    .toggler {
        p {
        display: inline-block;
        border-bottom: 1px dotted  rgb(69, 150, 170);
        font-weight: 700;
        }
        .card {
        width: 300px;
        height: 70px;
        padding: 10px;
        }
    }
    .back_button {
        background-color: rgb(95, 144, 177) !important;
        border-color: rgb(133, 190, 228) !important;

        &:hover {
            background-color: rgb(56, 89, 109) !important;
        }
    }
}


/* cards-browser.js */
.browser {
    position: absolute;
    top: 100px;

    h3 {
        margin-bottom: 30px;
    }
    .card {
        height: 400px;
    }
    .card img {
        width: 350px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 10px;
    }
}


/* error-boundry.js */
.error {
    @extend %center;
    a {
        text-decoration: none;
        font-size: 30px;
    }
}